.pergunta-selecionada {
  margin-top: 2rem;
  transition: 0.5s;
  width: 40%;
  background-color: #f1f1f1;
  color: #201F25;
  box-shadow: 0px 5px 10px 2px rgb(162, 161, 161);
  display: flex;
  flex-direction: column;
  gap: 25px;
  
  padding: 20px;
  border-radius: 15px;
}

.ps-usuario-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}
.ps-usuario-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}
.ps-usuario-info-texto {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.ps-favoritar-salvar {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.like-comentario {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  gap: 5px;
}
.container-resposta {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.container-resposta-interacao {
  display: flex;
  flex-direction: row;
  gap: 25px;
  justify-content: flex-end;
  padding-top: 2px;
}
.delete {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.corFavorito {
  color: #ffa722;
}
.corFavorito2 {
  color: #ffa722;
}
.comentar {
  padding: 10px;
  width: 90%;
}
.card-resposta {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 10px;
}
.ps-favoritar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}