.editar-usuario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
}

.eu-form {
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding: 10%;
  border-radius: 10px;
}

.eu-form-campos {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 40px;
}

@media screen and (max-width: 1400px) {
  .editar-usuario {
    margin-left: 15rem;
  }

  .grupo-x {
    align-items: center;
    height: 1.5rem;
  }

  .grupo-x select {
    margin-top: 0rem;
  }
}

@media screen and (max-width: 1200px) {
  .editar-usuario {
    margin-left: 15rem;
  }

  .grupo-x {
    align-items: center;
    height: 1.5rem;
  }
}

@media screen and (max-width: 800px) {
  .editar-usuario {
    margin-left: 19rem;
  }

  .eu-form-campos {
    gap: 0px;
  }

  .cdu-campos {
    width: 80%;
  }

  .grupo-x {
    height: auto;
    display: block;
  }

  .grupo-x input {
    margin-top: 1rem;
  }

  .grupo-x select {
    margin-top: 1rem;
  }
  .cdu-form-buttons{
    margin-left: -8rem;
  }
}