.containerSalaPrincipal {
  margin-top: 5.1rem;
  margin-left: 270px;
  height: auto;
  overflow: auto;
}


.salaPrincipal {
  display: block;
  padding: 2rem;
  height: 52rem;
  width: auto;
  overflow: auto;
}


.sala {
  color: #f1f1f1;
  margin-top: 3rem;
  margin-left: 15%;
  height: 12rem;
  width: 50%;
  transition: 0.5s;
  background-color: #f1f1f1;

  box-shadow: 0px 5px 10px 2px rgb(162, 161, 161);
  border-radius: 15px;
  cursor: pointer;
  gap: 20px;
}


.sala:hover {
  background-color: #c3c1c1;
  color: black;
}


.nomeSala {
  color: black;
  font-size: 20px;
  padding: 20px;
  margin-left: 3%;
}


.temaSala {
  margin-top: 15px;
  margin-left: 6%;
  font-size: 18px;
  color: #201F25;
}


.botaoChatPublico {
  margin-top: 5%;
  margin-left: 78%;
  float: left;
  color: #ffffff;
  padding: 5px;
  border: #000000 solid 1px;
  background-color: #2476aa;
  border-radius: 20px;
  align-items: center;
  padding: 0.6rem;
  border-radius: 20px;
}

.buttonChatPublico:hover {
  transition: 0.5s;
  color: #0f4a6d;
}

.salaPrincipal::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

.salaPrincipal::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.salaPrincipal::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}