.containerSalaPrincipal {
  margin-top: 5.1rem;
  margin-left: 270px;
  height: auto;
  overflow: auto;
}


.salaPrincipal {
  display: block;
  padding: 2rem;
  height: 43rem;
  width: auto;
  overflow: auto;
}


.sala {
  color: #f1f1f1;
  margin-top: 3rem;
  margin-left: 15%;
  height: 12rem;
  width: 50%;
  transition: 0.5s;
  background-color: #f1f1f1;

  box-shadow: 0px 5px 10px 2px rgb(162, 161, 161);
  border-radius: 15px;
  cursor: pointer;
  gap: 20px;
}


.sala:hover {
  background-color: #c3c1c1;
  color: black;
}


.nomeSala {
  color: black;
  font-size: 20px;
  padding: 20px;
  margin-left: 3%;
}


.temaSala {
  margin-top: 15px;
  margin-left: 6%;
  font-size: 18px;
  color: #201F25;
}


.botaoChatPublico {
  margin-top: 5%;
  margin-left: 73%;
  float: left;
  color: #ffffff;
  padding: 5px;
  border: #000000 solid 1px;
  background-color: #2476aa;
  border-radius: 20px;
  align-items: center;
  padding: 0.6rem;
  border-radius: 20px;
}

.buttonChatPublico:hover {
  transition: 0.5s;
  color: #0f4a6d;
}

.salaPrincipal::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

.salaPrincipal::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.salaPrincipal::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

@media screen and (max-width: 1500px) {
  .botaoChatPublico {
    font-size: 16px;
    margin-left: 60%;
  }
}

@media screen and (max-width: 1300px) {
  .temaSala {
    margin-left: 1rem;
  }

  .botaoChatPublico {
    font-size: 14px;
    margin-left: 55%;
  }
}

@media screen and (max-width: 1000px) {
  .botaoChatPublico {
    margin-top: 2rem;
    margin-left: 30%;
    width: 6rem;
  }
}

@media screen and (max-width: 700px) {
  .botaoChatPublico {
    margin-top: 2rem;
    width: 4rem;
    margin-left: 0.5rem;
  }
}

@media screen and (max-height: 790px) {
  .salaPrincipal {
    height: 40rem;
  }
}

@media screen and (max-height: 750px) {
  .salaPrincipal {
    height: 37em;
  }
}

@media screen and (max-height: 700px) {
  .salaPrincipal {
    height: 35rem;
  }
}

@media screen and (max-height: 650px) {
  .salaPrincipal {
    height: 32rem;
  }
}

@media screen and (max-height: 590px) {
  .salaPrincipal {
    height: 29rem;
  }
}

@media screen and (max-height: 520px) {
  .salaPrincipal {
    height: 26rem;
  }
}
@media screen and (max-height: 440px) {
  .salaPrincipal {
    height: 19rem;
  }
}