.ranking-usuario {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding-top: 30px;
}

.usuario-ranqueado {
  display: flex;
  flex-direction: column;
  gap: 25px;
  transition: 0.5s;
  background-color: #f1f1f1;
  color: #201F25;
  align-items: center;
  border-radius: 15px;

  cursor: pointer;
  box-shadow: 0px 5px 10px 2px rgb(162, 161, 161);
  padding: 20px;
}


.usuario-ranqueado:hover {
  background-color: #c3c1c1;
  color: black;
}


.ru-favorito {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}