.containerChat {
  position: fixed;
  width: 100%;
  height: auto;
}

.containerSidebar {
  position: fixed;
  display: flex;
  overflow: auto;
}

.containerSidebar {
  flex-direction: column;
  border-right: 2px solid #414141;
  width: 250px;
  padding: 10px;
  top: 0;
  bottom: 0;
  left: 0;
  position: fixed;
  top: 80px;
}

.containerSidebar::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

.containerSidebar::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.containerSidebar::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}