.footer{
    display: flex;
    justify-content: center;
    list-style-type: none;
    flex-direction: row;
    align-items: center;
    height: 80px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 2px -2px gray;   
}