.footer {
  display: flex;
  justify-content: center;
  list-style-type: none;
  flex-direction: row;
  align-items: center;
  height: 25px;
  box-shadow: 0 4px 2px -2px black;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
}

.p {
  text-decoration: none;
}

.footer svg {
  width: 12px;
  margin-left: 5px;
  margin-right: 5px;
}
