.botaoCriarAviso {
  color: #f1f1f1;
  border: #000000 solid 2px;
  background-color: #2476aa;
  padding: 15px;
  cursor: pointer;
  border-radius: 20px;
}

.botaoCriarAviso:hover {
  transition: 0.5s;
  color: #0f4a6d;
}

.card-aviso {
  transition: 0.5s;
  background-color: #f1f1f1;
  color: #201F25;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 5px 10px 2px rgb(162, 161, 161);
  gap: 25px;
  padding: 20px;
  border-radius: 15px;
  cursor: pointer;
  height: auto;
}

.infosAviso {
  height: 10rem;
}

.usuario-aviso {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.usuario-informacao-texto {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 80%;
}

.textoAviso {
  margin-top: 2rem;
}

.like-comentarioAviso {
  margin-top: 2rem;
}

.filtroAviso {
  margin-left: 75%;
}

.card-aviso:hover {
  background-color: #c3c1c1;
  color: black;
}


@media (max-width: 1000px) {
  .usuario-aviso {
    display: block;
    margin: 1rem;
  }

  .card-aviso {
    display: block;
    width: 70%;
    margin-left: 6rem;
    height: 20rem;
  }

  .filtroAviso {
    margin-left: 50%;
  }

  .usuario-informacao-texto {
    margin-top: 1rem;
    display: block;
    width: 100%;
  }

  .criar-aviso {
    margin-left: 8rem;
    margin-right: -5rem;
  }

  .textoAviso {
    margin-top: 1rem;
  }

  .like-comentarioAviso {
    margin-top: 1rem;
  }
}

@media (max-width: 700px) {
  .card-aviso {
    margin-left: 8rem;
  }
}