.link-usuario{
    display: contents;
}

.buttonAviso {
    color: white;
    border: #000000 solid 2px;
    background-color: #2476aa;
    padding: 15px;
    cursor: pointer;
    border-radius: 20px;
}