.link-usuario {
    display: contents;
}

.botaoCriarAviso{
    color: white;
    border: #000000 solid 2px;
    background-color: #2476aa;
    padding: 15px;
    cursor: pointer;
    border-radius: 20px;
}

.botaoCriarAviso:hover {
  transition: 0.5s;
  color: #0f4a6d;
}