.sidebarItemChat {
  height: 50px;
  border-bottom: 2px solid #201F25;
  font-size: 17px;
  display: flex;
  align-items: center;
  padding: 0.6rem;
  margin-left: -5px;
}

.iconeSala{
  margin-left: 1rem;
  margin-right: 1rem;
}

.notificacao {
  font-size: 12px;
  font-weight: bold;
  background-color: #ED4956;
  color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2.2rem;
}

#imagemPerfilChatS {
  margin: 0.8rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: #000000 0.5px solid;
}

@media screen and (max-width: 1440px) {
  .sidebarItemChat {
    width: 230px;
  }
}

@media screen and (max-width: 1300px) {
  .containerSidebar {
    width: 200px;
  }
}

@media screen and (max-width: 1024px) {
  .containerSidebar {
    width: 180px;
  }
}