.container-pergunta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  width: 50%;
}

.criar-pergunta {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.buttonPergunta {
  color: white;
  border: #000000 solid 2px;
  background-color: #2476aa;
  padding: 15px;
  cursor: pointer;
  border-radius: 20px;
}

.criar-pergunta button:hover {
  transition: 0.5s;
  color: #0f4a6d;
}

.card-pergunta {
  transition: 0.5s;
  background-color: rgb(65, 65, 65);

  color: #ffffff;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 5px 10px 2px rgb(162, 161, 161);
  gap: 25px;
  padding: 20px;
  border-radius: 15px;
  cursor: pointer;
}

.card-pergunta:hover {
  
  background-color: #eeeeee;
  color: black;
}

.usuario-pergunta {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.usuario-informacao-texto {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.container-interacao {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
  border-top: 1px solid #414141;
  padding-top: 2px;
  justify-content: space-between;
}

.item-interacao {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
