.criarSala {
  margin-top: 5.3rem;
  background-color: #201F25;
  height: 100%;
  width: 100%;
}

.campoEntrada {
  margin-top: 2rem;
  height: 15px;
  background-color: #201F25;
  color: #f1f1f1;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  border: solid 2px #f1f1f1;
  padding: 0.5rem;
  width: 15rem;
}

.botao-geral {
  padding: 0.5rem;
  font-size: 18px;
  width: 8rem;
}

.botaoFotoSala {
  height: 1rem;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 5px;
  color: black;
  cursor: pointer;
}

.selecaoImagem {
  margin-top: 5rem;
  align-items: center;
  display: flex;
  gap: 10rem;
}

#imagemSala {
  width: 40rem;
  height: 15rem;
  border-radius: 15px;
}