.login {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2%;
  box-sizing: border-box;
}

.login-descricao {
  width: 55%;
  height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.ld-texto {
  border-left: 8px solid #0f5986;
  padding-left: 5px;
  width: 60%;
  font-size: large;
  line-height: 1.6;
  color: #0f5986;
}

.div-imagem {
  width: 60%;
}

.ld-imagem {
  width: 50%;
}

.login-cadastro {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8%;
  width: 30%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
}

.lc-entrar {
  font-weight: bold;
  font-size: xx-large;
  color: #0f5986;
}

.lc-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 70%;
}

.lc-form-input {
  border: none;
  background-color: #e9e9e9;
  padding: 2%;
  border-radius: 20px;
}

.lc-form-buttom {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.lc-form-entrar {
  width: 50%;
  border: none;
  background-color: #e9e9e9;
  padding: 1.5%;
  border-radius: 20px;
  background: #045b87;
  font-weight: bold;
  color: white;
  font-size: medium;
}

.lc-form-entrar:hover {
  background: rgb(4, 91, 135);
  background: linear-gradient(
    0deg,
    rgba(4, 91, 135, 1) 35%,
    rgba(59, 151, 171, 1) 100%
  );
  cursor: pointer;
}

.lc-alterantiva {
  text-decoration: underline;
}

.lc-alterantiva:hover {
  color: #045b87;
  cursor: pointer;
}
