.sidebarchat {
    width: 250px;
    border-right: 2px solid gray;
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    padding-top: 30px;
}

.conversas {
    width: 200px;
    border-bottom: 2px solid rgb(204, 204, 204);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}