.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 2px -2px gray;    
}

.list {
    display: flex;
    list-style: none;
    align-items: center;
}

.item {
    margin-right: 8em;
}

.item a{
    color: black;
    text-decoration: none;
}

.item a:hover{
    color:cadetblue;
}

.logo {
    height: inherit;
}

.input {
    display: flex;
    align-items: center;
    gap: 5px;
}

.input a{
    color: black;
    text-decoration: none;
}

.input a:hover{
    color:cadetblue;
}