.pc-container {
  display: flex;
  flex-direction: column;
  gap: 5%;

  width: 30%;
  padding: 20px;
  border-radius: 10px;

  background-color: #fafafa;
  overflow-y: scroll;
}

.pc-titulo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-weight: bold;
  font-size: large;
}

.pc-pergunta {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
}

.pc-votos {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.pc-container::-webkit-scrollbar {
  width: 10px;
}

.pc-container::-webkit-scrollbar-track {
  background: #fafafa;
  border-radius: 10px;
}

.pc-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #888;
}

.pc-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}
