.usuario-selecionado {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #f5f5f5;
  width: 20%;
  border-radius: 10px;
  padding: 20px;
}

.usuario-selecionado-informacao {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

.usuario-interacao {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.usuario-interacao:hover {
  background-color: #eeeeee;
}

.pu-perfil {
  display: flex;
  flex-direction: row;
  gap: 25px;
  align-items: center;
}

.pu-perfil-texto {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.pu-container {
  margin-left: -301px;
  justify-content: flex-start;
  padding: 50px;
}

.perfil-usuario {
  display: flex;
  flex-direction: column;
  gap: 50px;
  background-color: #fafafa;
  width: 60%;
  border-radius: 10px;
  padding: 50px;
}

.pu-informacoes {
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
}

.pu-item-informacao {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.pu-interecoes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.pu-excluir {
  display: flex;
  align-items: center;
  gap: 5px;

  background-color: rgb(214, 49, 49);
  border: none;
  padding: 10px;
  border-radius: 5px;
  color: #fafafa;
  cursor: pointer;
}
